@import url('login.css');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;300;400;500;600;700&family=IBM+Plex+Sans:wght@300;400&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Albert Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


:root {
    --primary-dark: #1e293b;
    --light-gray: #cbd5e1;
    --light-blue: #60A5FA;
    --black: #111827;
    --white: #ffffff;
    --text-color: #374151;
    --primary-color-300: #28427e;
    --light-green: #37BAA8;
}
.nav-active {
    border-bottom: 2px solid var(--light-green);
    padding: 0 0 .5rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header{
    width: 100%;
    background-color: var(--primary-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8rem;
    position: sticky;
    top: 0;
    z-index:1;
}

.logo a{
    color: #fff;
    font-size: 2.3rem;
}

.navigation ul {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.navigation ul li {
    padding: 0 0 0.5rem;
}

.navigation ul li a {
    color: var(--light-gray);
    letter-spacing: 1px;
    text-transform: capitalize;
}

.navigation ul li a:hover  {
    color: var(--white);
}

.navigation .circle {
    border-radius: 50%;
    width: 36px;
    background: var(--light-green);
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.navigation .circle a {
    color: var(--white);
}

.logout input[type="submit"]{
    border-radius: 4px;
    padding: 1rem 2rem;
    color: #ffff;
    border: 2px solid #37BAA8;
    background: none;
    cursor: pointer;
    letter-spacing: 1px;
    /* color: var(--light-gray); */
}

.logout input[type="submit"]:hover {
    background-color: var(--light-green);
    transition: .5s all;
}


.hero {
    background-color: var(--primary-dark);
    /* background-color: var(--light-green); */
    padding: 10rem 0;
}

.blog {
    width: 60%;
    margin: 8rem auto;
    line-height: 3.6rem;
    font-size: 2rem;
}

.blog-featured-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    margin-bottom: 2rem;
}
.blog-featured-image img {
    width: 100%;
    height: 100%;
}

.blog-details {
    text-align: center;
    color: var(--light-blue);
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.7rem;
}

.blog-heading {
    color: var(--white);
    font-size: 5rem;
    text-align: center;
    text-transform: capitalize;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, 0px); */
}

.wrapper {
    width: 60%;
    margin: 8rem auto;
}





/* Footere Desing */

.footer-container{
	width: 100%;
	background-color: var(--primary-dark);
	display: flex;
	justify-content: space-around;
	padding: 7rem 0 5rem 0;
}

/*footer left side start*/
.footer-logo{
	width: 18vw;
	margin-left: 7rem;
}
.footer-logo h2{
	font-size: 2.7rem;
    color: var(--white);
}
.footer-logo p{
	font-size: 1.4rem;
	color: var(--light-gray);
	padding: 1.5rem 0rem;
	line-height: 2.1rem;
}
.footer-logo a{
	text-decoration: none;
}
.fa{
	background-color: var(--black);
	color: #ffffff;
	padding: .6rem;
	border-radius: .3rem;
}
.icons{
	margin: 0rem 1.5rem;
}
/*footer left side ends*/

/*footer center starts*/
.footer-links{
	width: 32vw;
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
}
.footer-links div h3 {
    color: #fff;
}

.footer-links ul a li{
	list-style-type: none;
	padding: 1rem 0rem;
}
.footer-links ul a{
	color: var(--light-gray);
    font-weight: 500;
}	
/*footer center ends*/

/*footer right section*/
.footer-contactus{
	width: 17vw;
}
.footer-contactus h2{
	font-size: 1.9rem;
    color: var(--white);
}
.footer-contactus button{
	padding: 1.4rem 2rem;
    font-size: 1.6rem;
    background: #37BAA8;
    border: none;
    border-radius: .4rem;
    color: #ffff;
    margin-top: 1.6rem;
    cursor: pointer;
}
.copywright-tag{
    border-top: 1px solid var(--light-gray);
	background-color: var(--primary-dark);
	padding: 1.5rem;
	font-size: 1.5rem;
	text-align: center;
    color: #fff;
}
/* Footer Ends */

.featured {
    /* background-color: #28427e; */
    /* color: #fff; */
    padding: 5rem 10rem;
}

.featured > h3, .featured > h1 {
    text-align: center;
    /* color: #fff; */
}

.featured > h1 {
    font-size: 3rem;
    margin-top: 1rem;
    text-shadow: 1px 1px  4px #ccc;
    color: var(--light-blue);
}

.featured-block {
    display: flex;
    gap: 5rem;
    padding: 3rem;
    text-align: center;
}

.featured-card {
    box-shadow: 0 0 12px 1px var(--light-gray);
    padding: 3rem 0;
    border-radius: 5px;
}

.featured-logo {
    display: inline;
    border-radius: 100%;
    width: 10%;
    font-size: 5rem;
    color: #60A5FA;
}

.featured-heading {
    padding: 1rem 0;
}

.featued-description {
    line-height: 2.6rem;
    padding: 0 2rem;
}

/* About us */
.about-us {
    display: flex;
    padding: 5rem 0;
}

.about-content {
    padding: 0rem 5rem;
    width: 72%;
}

.about-content h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.about-content p {
    line-height: 3rem;
    font-size: 17px;
    text-align: justify;
    margin-bottom: 2rem;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}
  
/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* Notes collections */
.note_container {
    display: flex;
    gap: 10rem;
    position: relative;
}
.notes-group {
    flex: 3;
}
.category-section {
    flex: 1;
    /* background-color: #60A5FA; */
    padding-top: 5rem;
}

.category-section > h1{
    font-size: 3rem;
}

.category-section ul {
    margin-left: 3rem;
    margin-top: 2rem;
}
.category-section ul li {
    list-style-type: disc;
    padding: 1rem;
}

.category-list-view {
    margin: 4rem auto !important;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.category-list-view table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.category-list-view th, .category-list-view td {
    border: 1px solid var(--light-gray);
    padding: 1.2rem;
    text-align: left;
}

.category-list-view th {
    background-color: var(--light-green);
    color: var(--white);
}

.category-list-view tr:nth-child(even) {
    background-color: var(--light-gray);
}


.note {
    padding: 5rem;
    display: flex;
    gap: 2rem;
}

.note-image {
    flex: 2;
    background-color: #bbb;
} 

.note-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.note-content {
    flex: 4;
}

.note-content > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 0 1rem 0;
}

.notes-title {
    font-size:3.3rem;
    width: 85%;
    color: var(--light-green);
}

.created-on {
    font-size: 1.3rem;
    font-style: italic;
}

.note-description {
    line-height: 2.6rem;
    text-align: justify;
    margin-bottom: 2rem;
}

.notes-options {
    display: flex;
    gap: 2rem;
}

.notes-group {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 8px 2rem;
    font-size: 1.6rem;
    background: var(--light-green);
    border: none;
    color: #ffff;
    border-radius: 3px;
    cursor: pointer;
}

.btn-view {
    background-color: var(--light-green);
}

.btn-update {
    background-color: var(--light-blue);
}
.btn-delete {
    background-color: #f75c9a;
}

.create-note {
    width: 70%;
    margin: 0 auto;
    /* background-color: palegoldenrod; */
    padding: 6rem 12rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
}
.form-group label {
    font-size: 2rem;
    letter-spacing: 1px;
    position: absolute;
    bottom: 4rem;
    bottom: 1rem;
}


.form-group .input-title {
    width: 100%;
    font-size: 2rem;
    padding: 1.6rem;
    outline: none;
    letter-spacing: 2px;
    text-transform: capitalize;
    background-color: none;
}
.create-note-button {
    padding: 2rem 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Category Page Design */
.category h1 {
    color: var(--primary-dark);
    text-align: center;
    padding: 2rem;
}

.category .category-form {
    display: grid;
    gap: 20px;
}

.category .form-group-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; 
}

.category label {
    /* background-color: red; */
    font-size: 18px;
    color: var(--black);
    margin-bottom: .4rem;
}

.category input, .category textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
}

.category textarea {
    resize: vertical;
    min-height: 100px;
}

.category button {
    background-color: var(--light-green);
    color: var(--white);
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;  
    letter-spacing: 1px;
}

.category button:hover {
    background-color: var(--primary-color-300);
}


/*=========================responsive design============================*/
@media(max-width: 986px){
	html{
		font-size: 55%;
	}
}
@media(max-width: 800px){
	.footer-container{
		flex-direction: column;
		align-items: center;
	}
	.footer-logo{
		width: 32vw;
		margin-bottom: 3rem;
		margin-left: 0rem;
	}
	.footer-links{
		flex-direction: column;
		text-align: center;
	}
  
	.footer-links h3{
		font-size: 2.4rem;
		margin: 1rem 0px;
	}
	.footer-contactus{
		width: 21vw;
		margin-top: 2.4rem;
		text-align: center;
	}
	.footer-contactus h2{
		font-size: 2.5rem;
	}
}

